<mat-toolbar color="primary">
  <span style="margin-left: 15px">PRAKTICOM</span>

  <div class="links">
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="/home/jobs">Jobs</button>
    <button mat-button routerLink="/home/company">Firmen</button>
    <button mat-button routerLink="/home/student">Für Schüler</button>
  </div>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/login"><mat-icon class="icon">view_comfy</mat-icon> Anmelden</button>
</mat-toolbar>
