<form action="" #form>
  <mat-grid-list cols="1" rowHeight="400px">
    <div class="vertical-center" style="margin-top: 3%">
      <h2>Neuer Skill</h2>
    </div>
    <mat-grid-tile>
      <div>
        <div class="vertical-center">
          <mat-form-field class="field">
            <input id="skill" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Skill" [(ngModel)]="skill.name">
            <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
          </mat-form-field>
        </div>
        <div class="vertical-center">
          <mat-form-field class="field">
            <mat-label>Wertung</mat-label>
            <mat-select id="skillRating" [ngModelOptions] ="{standalone: true}" required [(ngModel)]="skill.rating">
              <mat-option [value]="0">Amateur</mat-option>
              <mat-option [value]="1">Fortgeschritten</mat-option>
              <mat-option [value]="2">Profi</mat-option>
            </mat-select>
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <div class="buttonContent">
          <button class="buttonSelf" mat-raised-button color="warn" type="submit" (click)="onClose()">Zurück</button>
          <button class="buttonSelf" mat-raised-button color="primary" type="submit" [disabled]="!form.checkValidity()" (click)="onSubmit()">Skill hinzufügen</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

