<form action="" #form>
  <mat-grid-list cols="1" rowHeight="400px">
    <div class="vertical-center" style="margin-top: 3%">
      <h2>Neuer Skill</h2>
    </div>
    <mat-grid-tile>
      <div>
        <div class="vertical-center">
          <input id="skillName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Skill" [(ngModel)]="skill.name">
          <mat-icon matSuffix>grade</mat-icon>
          <mat-error></mat-error>
        </div>
        <br>
        <div class="vertical-center">
          <mat-form-field class="field">
            <mat-label>Product</mat-label>
            <mat-select id="skillRating" [ngModelOptions] ="{standalone: true}" required [(ngModel)]="skill.rating">
              <mat-option *ngFor="let rating of ratings" [value]="rating">{{rating.name}}</mat-option>
            </mat-select>
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <div class="buttonContent">
          <button class="buttonSelf" mat-raised-button color="warn" type="submit" (click)="onClose()">back</button>
          <button class="buttonSelf" mat-raised-button color="primary" type="submit" [disabled]="!form.checkValidity()" (click)="onSubmit()">submit</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

