<div class="ui secondary pointing menu">
  <a routerLink="../"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}"
     class="item"
  ><i class="home icon"></i>
  </a>
  <a routerLink="/jobs" routerLinkActive="active" class="item">JobAds</a>
  <a routerLink="/about" routerLinkActive="active" class="item disabled">About us</a>
  <a routerLink="/auth/login" routerLinkActive="active" class="item disabled">Login</a>
  <a routerLink="/auth/signUp" routerLinkActive="active" class="item disabled">Sign Up</a>
</div>
<div class="ui special link cards">

  <jobAds-card routerLink="{{job.id}}" *ngFor="let job of jobs">
    <ng-container class="job-image">
      <img [src]="job.image">
    </ng-container>
    <ng-container class="job-title">{{job.title}}</ng-container>
    <ng-container class="job-length">
      {{job.duration}}
    </ng-container>
    <ng-container class="job-description">
      {{job.description}}
    </ng-container>
    <ng-container class="job-date">{{job.postingDate}}</ng-container>
    <ng-container class="business-name">{{job.website}}</ng-container>
  </jobAds-card>

</div>

