<!--<div class="vertical-center" style="margin-bottom: 50px">
  <div class="company-basic-infos">
    <h1>{{company.name}}</h1>
    <h4 style="color: #4a4c4f">{{company.sectors}}IT, Technik, Producktion</h4>
    <h2></h2>
  </div>
</div>-->

<ng-container *ngIf="company">
  <div class="row">
    <div class="info-card">
      <app-company-info-card [company]="company"></app-company-info-card>
    </div>
    <div class="location-map">
      <app-company-map [company]="company"></app-company-map>
    </div>
  </div>
  <app-company-job-ads-swiper [company]="company"></app-company-job-ads-swiper>
</ng-container>
