<html>
<div class="col-md-8 col-sm-* col-xs-*">
  <mat-card class="student-info">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Max Mustermann</mat-label>
        <input matInput [readonly]="true"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>location_on</mat-icon>
        <mat-label>Linz</mat-label>
        <input matInput [readonly]="true"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>school</mat-icon>
        <mat-label>Htl Leonding</mat-label>
        <input matInput [readonly]="true"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>mustermann@gmail.com</mat-label>
        <input matInput [readonly]="true"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>phone</mat-icon>
        <mat-label>05232 81502</mat-label>
        <input matInput [readonly]="true"/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
<html>
