<div style="margin-bottom: 1%; margin-top: 1%">
  <div class="vertical-center">
    <mat-icon routerLink="" (click)="carouselLeft()" style="cursor: pointer; font-size: 500%" aria-hidden="false" aria-label="Example home icon">chevron_left</mat-icon>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let job of shownJobPostings">
        <mat-card class="jobCard">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{job.jobTitle}}</mat-card-title>
            <mat-card-subtitle style="margin-top: 10px">Abteilung: {{job.fieldOfWork}}</mat-card-subtitle>
            <mat-card-subtitle style="margin-top: -15px">Dauer: {{job.timespan}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src='./assets/job.jpg'>
          <mat-card-content style="height: 110px">
            <mat-card-subtitle>Gepostet am: {{job.postingDate}}</mat-card-subtitle>
            <p>
              {{job.jobDescription}}
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <div>
              <button mat-button>WEBSITE</button>
              <button mat-button routerLink="/home/company/{{job.companyId}}">ANSEHEN</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <mat-icon routerLink="" (click)="carouselRight()" style="cursor: pointer; font-size: 500%" aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
  </div>
</div>
<div class="vertical-center" style="margin-top: 1%">
  <div style="width: 80%; margin-top: 2vw">
    <mat-divider></mat-divider>
  </div>
</div>
