<div class="row">
  <div class="subtitle">
    <h2>Welche Ziele verfolgen wir?</h2>
  </div>
</div>
<div class="boxes">
  <div class="box">
    <app-info-card>
      <ng-container class="cardIcon">
        <i class="material-icons" style="color: #ff2b4a;font-size: 40px">search</i>
      </ng-container>
      <ng-container class="cardHeading">Suchen</ng-container>
      <ng-container class="cardDescription">
        Schüler, die höhere Lehranstalten besuchen, suchen jedes Jahr nach Unternehmen, bei denen sie ihre
        Pflichtpraktika absolvieren können. Gleichzeitig suchen auch Firmen nach geeigneten Praktkanten, die sie beim
        Umsetzen verschiedenster Projekte unterstützen können.
      </ng-container>
    </app-info-card>
  </div>
  <div class="box">
    <app-info-card>
      <ng-container class="cardIcon">
        <i class="material-icons" style="color: #ff2b4a;font-size: 40px">done_all</i>
      </ng-container>
      <ng-container class="cardHeading">Finden</ng-container>
      <ng-container class="cardDescription">
        Wir wollen vorallem Unternehmen dabei unterstützen, Schüler und
        Studenten zu finden, welche aufgrund ihrer Fähigkeiten gut
        zu dem Unternehmen passen. Damit vereinfachen wir die Suche nach Praktikanten vor allem für "kleiner
        Unternehmen.
      </ng-container>
    </app-info-card>
  </div>
</div>
