<html>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">

<div class="row">
  <mat-card class="student-info-card">
    <div class="row">
      <div style="margin-right: 4vw">
        <img class="profile-picture" mat-card-image src='./assets/kindpng_2855863.png'>
        <h3 style="margin-left: 3vw">Max Mustermann</h3>
      </div>
      <mat-card-content>
        <mat-form-field>
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Max Mustermann</mat-label>
          <input matInput [readonly]="true"/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>location_on</mat-icon>
          <mat-label>Linz</mat-label>
          <input matInput [readonly]="true"/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>school</mat-icon>
          <mat-label>Htl Leonding</mat-label>
          <input matInput [readonly]="true"/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>mustermann@gmail.com</mat-label>
          <input matInput [readonly]="true"/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>phone</mat-icon>
          <mat-label>05232 81502</mat-label>
          <input matInput [readonly]="true"/>
        </mat-form-field>
      </mat-card-content>
    </div>
    <mat-card-footer class="card-info-footer">
      <div class="social-icons">
        <a href="https://twitter.com" class="icon-button twitter"><i class="icon-twitter"></i><span>
            <img mat-card-image></span></a>
        <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="https://plus.google.com" class="icon-button google-plus"><i
          class="icon-google-plus"></i><span></span></a>
      </div>
    </mat-card-footer>
  </mat-card>
  <div>
    <mat-card class="about-me">
      <h2>About me</h2>
      <p>This is a short description about myself</p>
    </mat-card>
    <mat-tab-group class="tab-group" backgroundColor="primary" mat-align-tabs="center" color="primary">
      <mat-tab label="Skills">
        <div class="list">
          <mat-action-list>
            <mat-list-item>C#</mat-list-item>
            <mat-list-item>Angular</mat-list-item>
            <mat-list-item>C</mat-list-item>
            <mat-list-item>Java</mat-list-item>
          </mat-action-list>
        </div>
      </mat-tab>
      <mat-tab label="Dokumente">
        <div class="extra_margin"></div>
        <div class="list">
          <!--<a href="/images/myw3schoolsimage.jpg" download>
            <img src="/images/myw3schoolsimage.jpg" alt="Lebenslauf" style="font-size: 20px">
          </a>-->
          <button (click)="openTab('http://localhost:8081/Lebenslauf1920.pdf')" style="margin: 1vw" mat-raised-button>
            Lebenslauf
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<button mat-raised-button color="primary">Schüler jetzt kontaktieren</button></html>






