


<!--<ng-container>
  <div *ngFor="let skill of skills">
    <button mat-flat-button
            color="primary"
            style="border-radius: 20px"
            matTooltip="Remove this skill"
            matTooltipPosition="above"
            (click)="onClick(skill)"
    >{{skill}}
    </button>
  </div>
</ng-container>
<ng-container>
  <mat-form-field class="example-full-width">
    <mat-label>Skill</mat-label>
    <input #input matInput placeholder="Java"(keyup.enter)="onEnter(input)">
  </mat-form-field>
</ng-container>-->

<mat-list>
  <mat-list-item>
      <h1>User Profile</h1>
  </mat-list-item>
  <mat-divider style="margin-bottom: 2%"></mat-divider>
</mat-list>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">

      <mat-card class="mat-elevation-z4" >
        <img mat-card-image src="assets/kindpng_2855863.png" class="rounded">

        <div class="b">

            <mat-card-header>
              <mat-card-title>{{student.firstName}} {{student.lastName}}</mat-card-title>
            </mat-card-header>




            <mat-card-content>
              <mat-card-header>
                <h2>Email:</h2>
                <a>{{student.email}}</a>
              </mat-card-header>
              <mat-card-header>
                <h2>Schule</h2>
                <a>{{student.school}}:</a>
              </mat-card-header>
              <mat-card-header>
                <h2>Geburtsdatum:</h2>
                <a>{{student.birthDate | date}}</a>
              </mat-card-header>
            </mat-card-content>

            <mat-card-actions>
            </mat-card-actions>

      </div>

      </mat-card>
    </div>

    <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4" >

        <mat-card-header>
          <mat-card-title >Beschreibung</mat-card-title>

        </mat-card-header>

        <p>
          {{student.description}}
        </p>

        <mat-card-header>
          <mat-card-title >Skills</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
              <div>
                <button *ngFor="let skill of student.skills" mat-flat-button color="primary" style="border-radius: 20px; margin: 0.5vw">
                  {{skill.skill | titlecase}}
                </button>
              </div>
              <a> </a>
              <button style="margin: 1vw" mat-raised-button>Lebenslauf</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
  </div>













