<app-main-nav>
  <html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <div class="container-fluid">
    <div class="row extra_margin">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="text-center">
          <img src="assets/kindpng_2855863.png" width="200"/>
          <h2>Max Mustermann</h2>
            <!--<a href="https://www.facebook.com/max.mustermann.10690" mat-icon-button color="primary">
              <mat-icon>facebook</mat-icon>
            </a>-->
          <div class="social-buttons">
            <a href="http://www.facebook.com" target="blank" class="social-margin">
              <div class="social-icon facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
            </a>
            <!-- Github Button -->
            <a href="https://github.com/"  target="blank"  class="social-margin">
              <div class="social-icon github">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              </div>
            </a>
            <!-- TwitterButton -->
            <a href="http://twitter.com/" target="blank" class="social-margin">
              <div class="social-icon twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-* col-xs-*">
        <app-student-competencies></app-student-competencies>
      </div>
    </div>
  </div>
  <app-student-info-card></app-student-info-card>
  </body>
  </html>
</app-main-nav>
