<form class="formstyle" [formGroup]="userRegistrationForm" action="" #form>
  <h2 class="field">Neues Schülerprofil erstellen</h2>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="firstName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Vorname" [(ngModel)]="student.firstName" >
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input id="lastName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Nachname" [(ngModel)]="student.lastName">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
  </div>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="userName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Username" [(ngModel)]="student.userName">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input id="email" type="email" required [ngModelOptions] ="{standalone: true}" matInput placeholder="E-Mail" [(ngModel)]="student.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error>Ungültige E-Mail-Adresse!</mat-error>
    </mat-form-field>
  </div>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="school" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Derzeitige Schule" [(ngModel)]="student.school">
      <mat-icon matSuffix>school</mat-icon>
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input id="phoneNumber" type="text" [ngModelOptions] ="{standalone: true}" matInput placeholder="Telefonnummer (optional)" [(ngModel)]="student.phoneNumber" >
      <mat-icon matSuffix>phone_enabled</mat-icon>
    </mat-form-field>
  </div>

  <div class="place-left">
    <mat-form-field appearance="fill" style="margin-left: 20px">
      <mat-label>Geburtsdatum</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="birthDate" [ngModelOptions] ="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </div>


  <div formGroupName="passwordGroup">
    <mat-form-field class="field">
      <input id="password" required type="password" matInput placeholder="Passwort" formControlName="password" [(ngModel)]="student.password">
      <mat-error>
        {{errors.password}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput placeholder="Passwort bestätigen" required type="password" formControlName="confirmPassword" [errorStateMatcher]="confirmValidParentMatcher">
      <mat-error>
        {{errors.confirmPassword}}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="field" style="width: 63.5%">
              <textarea id="description" type="text" [ngModelOptions] ="{standalone: true}" cdkTextareaAutosize matInput cdkAutosizeMinRows="1"
                        placeholder="Was zeichnet deine Persönlichkeit aus? Was sind deine Stärken? " [(ngModel)]="student.description"></textarea>
  </mat-form-field>

  <h2 class="field">Kenntnisse (Skills)</h2>

  <div style="width: 63.5%; margin: 20px; margin-top: 30px">
    <div class="mat-elevation-z8" style="margin-bottom: 3%">
      <table mat-table [dataSource]="matSkills" matSort >
        <ng-container matColumnDef="skill">
          <th mat-header-cell *matHeaderCellDef> Skill </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef> Rating </th>
          <td mat-cell *matCellDef="let element"> {{rating[element.rating]}} </td>
        </ng-container>

        <ng-container matColumnDef="settings" >
          <th mat-header-cell *matHeaderCellDef width="3%">
            <button class="iconBut" color="accent" mat-icon-button (click)="onAddingSkill()"><mat-icon>add</mat-icon></button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button class="iconBut" mat-icon-button color="warn" (click)="onSkillDelete(element)"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


  <div class="safeButtons">
    <button class="buttonSelf" mat-raised-button color="warn" type="submit" (click)="onClose()">Zurück</button>
    <button class="buttonSelf" mat-raised-button color="primary" type="submit" [disabled]="!form.checkValidity()" (click)="onSubmit()">Schülerprofil erstellen</button>
  </div>
</form>
