<form class="formstyle" action="" #form>
  <h2 class="field">Neuer Mitarbeiter</h2>
  <mat-form-field class="field">
    <input id="userName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Username" [(ngModel)]="student.userName">
    <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <input id="firstName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Vorname" [(ngModel)]="student.firstName">
    <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <input id="lastName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Nachname" [(ngModel)]="student.lastName">
    <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <input id="email" type="email" required [ngModelOptions] ="{standalone: true}" matInput placeholder="E-Mail" [(ngModel)]="student.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >
    <mat-error>Ungültige E-Mail-Adresse!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <input id="phoneNumber" type="text" required [ngModelOptions] ="{standalone: true}" matInput placeholder="Telefonnummer" [(ngModel)]="student.phoneNumber" >
    <mat-error>Ungültige E-Mail-Adresse!</mat-error>
  </mat-form-field>





  <br>
  <mat-form-field class="field">
    <input id="password" type="password" required matInput placeholder="Passwort" >
    <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
  </mat-form-field>
  <br>
  <div class="safeButtons">
    <button class="buttonSelf" mat-raised-button color="warn" type="submit" (click)="onClose()">Zurück</button>
    <button class="buttonSelf" mat-raised-button color="primary" type="submit" [disabled]="!form.checkValidity()" (click)="onSubmit()">Speichern und zurück</button>
  </div>
</form>
