<form class="formstyle" action="" #form>
  <h2 class="field">Neues Schüler-Profil erstellen</h2>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="firstName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Vorname" [(ngModel)]="student.firstName">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input id="lastName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Nachname" [(ngModel)]="student.lastName">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
  </div>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="userName" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Username" [(ngModel)]="student.userName">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input id="email" type="email" required [ngModelOptions] ="{standalone: true}" matInput placeholder="E-Mail" [(ngModel)]="student.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >
      <mat-error>Ungültige E-Mail-Adresse!</mat-error>
    </mat-form-field>
  </div>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="school" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Derzeitige Schule" [(ngModel)]="student.school">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input id="phoneNumber" type="text" [ngModelOptions] ="{standalone: true}" matInput placeholder="Telefonnummer (optional)" [(ngModel)]="student.phoneNumber" >
    </mat-form-field>
  </div>
  <div class="place-left">
    <mat-form-field class="field">
      <input id="password" type="password" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Passwort" [(ngModel)]="student.password">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
  </div>
  <div class="place-left">
    <mat-form-field class="field" style="width: 63.5%">
            <textarea id="description" type="text" [ngModelOptions] ="{standalone: true}" cdkTextareaAutosize matInput cdkAutosizeMinRows="1"
                      placeholder="Was zeichnet deine Persönlichkeit aus? Was sind deine Stärken? " [(ngModel)]="student.description"></textarea>
    </mat-form-field>
  </div>
  <div style="width: 63.5%; margin: 20px">
    <div class="mat-elevation-z8" style="margin-bottom: 3%">
      <table mat-table [dataSource]="student.skills" matSort >

        <!-- Position Column -->

        <ng-container matColumnDef="username">
          <th (click)="filter='username'" [ngClass]="{'error': filter === 'username'}" mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th (click)="filter='firstName'" [ngClass]="{'error': filter === 'firstName'}" mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th (click)="filter='lastName'" [ngClass]="{'error': filter === 'lastName'}" mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="groups">
          <th (click)="filter='groups'" [ngClass]="{'error': filter === 'groups'}" mat-header-cell *matHeaderCellDef mat-sort-header> Rolle </th>
          <td mat-cell *matCellDef="let element"> {{element.groups}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th (click)="filter='email'" [ngClass]="{'error': filter === 'email'}" mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="settings">
          <th mat-header-cell *matHeaderCellDef>
            Bearbeiten
          </th>
          <td mat-cell *matCellDef="let element">
            <button class="iconBut" mat-icon-button (click)="onDetailView(element)"><mat-icon>edit</mat-icon></button>
            <button class="iconBut" mat-icon-button color="warn" (click)="onDelete(element.id)"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="safeButtons">
    <button class="buttonSelf" mat-raised-button color="warn" type="submit" (click)="onClose()">Zurück</button>
    <button class="buttonSelf" mat-raised-button color="primary" type="submit" [disabled]="!form.checkValidity()" (click)="onSubmit()">Speichern und zurück</button>
  </div>
</form>
