<div class="vertical-center" style="margin-top: 2%">
  <h1 style="font-size: 50px">REGISTRIEREN ALS</h1>
</div>

<div class="content">
  <div class="card">
    <div class="icon"><i class="material-icons md-36">face</i></div>
    <p class="title">Schüler</p>
    <p class="text">Klicken um sich als Schüler zu registrieren.</p>
  </div>

  <div class="card">
    <div class="icon"><i class="material-icons md-36">apartment</i></div>
    <p class="title">Unternehmen</p>
    <p class="text">Klicken um sich als Unternehmen zu registrieren.</p>
  </div>
</div>
<div class="vertical-center" style="margin-top: 2%">
  <h1 style="font-size: 40px">Sie haben bereits einen Account?</h1>
</div>
<div class="content2">
  <div class="card2">
    <div class="icon"><i class="material-icons md-36">login</i></div>
    <p class="title">Login</p>
    <p class="text">Klicken um zum Login weitergeleitet zu werden.</p>
  </div>
</div>


